<ion-view view-title="Footers">
    <ion-content>
        <ul class="list">
            <li class="item item-divider">Footer</li>
            <li class="item" ui-sref="tab.footer-small">Small</li>
            <li class="item" ui-sref="tab.footer-large">Large</li>
            <li class="item item-divider">Subfooter</li>
            <li class="item" ui-sref="tab.subfooter-small">Small</li>
            <li class="item" ui-sref="tab.subfooter-large">Large</li>
        </ul>
    </ion-content>
</ion-view>
