<ion-view view-title="Combinations">
    <ion-content>
        <ul class="list">
            <li class="item item-divider">Footer/Subfooter Combinations</li>
            <li class="item" ui-sref="tab.footer-subfooter-default">Default</li>
            <li class="item" ui-sref="tab.footer-subfooter-small">Small</li>
            <li class="item" ui-sref="tab.footer-subfooter-large">Large</li>
            <li class="item" ui-sref="tab.footer-subfooter-default-small">Default - Small</li>
            <li class="item" ui-sref="tab.footer-subfooter-default-large">Default - Large</li>
            <li class="item" ui-sref="tab.footer-subfooter-small-default">Small - Default</li>
            <li class="item" ui-sref="tab.footer-subfooter-large-default">Large - Default</li>
            <li class="item" ui-sref="tab.footer-subfooter-small-large">Small - Large</li>
            <li class="item" ui-sref="tab.footer-subfooter-large-small">Large - Small</li>
        </ul>
    </ion-content>
</ion-view>
